//lato
@font-face {
    font-family: "Lato Thin";
    src: url('~@/assets/styles/setup/fonts/google-fonts/Lato/Lato-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Lato Light";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Lato/Lato-Light.ttf') format("truetype");
}
@font-face {
    font-family: "Lato";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Lato/Lato-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Lato Bold";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Lato/Lato-Bold.ttf') format("truetype");
}
//Montserrat
@font-face {
    font-family: "Montserrat Thin";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Montserrat/Montserrat-Thin.ttf') format("truetype");
}
@font-face {
    font-family: "Montserrat Light";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Montserrat/Montserrat-Light.ttf') format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Roboto/Roboto-Bold.ttf') format("truetype");
}
//Roboto
@font-face {
    font-family: "Roboto Thin";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Roboto/Roboto-Thin.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto Light";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Roboto/Roboto-Light.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto Bold";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Roboto/Roboto-Bold.ttf') format("truetype");
}
//Raleway
@font-face {
    font-family: "Raleway Thin";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Raleway/Raleway-Thin.ttf') format("truetype");
}
@font-face {
    font-family: "Raleway Light";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Raleway/Raleway-Light.ttf') format("truetype");
}
@font-face {
    font-family: "Raleway";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Raleway/Raleway-Regular.ttf') format("truetype");
}
@font-face {
    font-family: "Raleway Bold";
    src: url('.~@/assets/styles/setup/fonts/google-fonts/Raleway/Raleway-Bold.ttf') format("truetype");
}

